<!doctype html>
<html >

<head>
    <title>Performance Report</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="styles/dragtable.css" />

</head>

<body >
    <div id="wrapper">
<table id="comparisonTable" class="table table-bordered table-hover">
    <thead>
        <tr><th id="firstHeader">&nbsp; <div><span ng-click="collapseAll()" class="label label-success collapseAll"> Collapse all <i class="glyphicon glyphicon-collapse-down"></i></span><span ng-click="expandAll()" class="label label-success expandAll"> Expand all <i class="glyphicon glyphicon-collapse-up"></i></span></div></th><!-- ngRepeat: env in environments track by $index --><th class="tableHeaders dragAccept ng-scope" ng-repeat="env in environments track by $index"><div class="radiusHeader ng-binding">singleSlice_with_5k_objects1</div></th><!-- end ngRepeat: env in environments track by $index --><th class="tableHeaders dragAccept ng-scope" ng-repeat="env in environments track by $index"><div class="radiusHeader ng-binding">singleSlice_with_5k_objects2</div></th><!-- end ngRepeat: env in environments track by $index -->
    </tr></thead>  
    <tbody>
        <!-- Type Test Code here -->
    </tbody>
</table>
    </div>
    <!-- angular modules -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="scripts/jquery.dragtable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <!-- main app -->
    <script src="app/app.js"></script>
    <script src="app/services/perfFactory.js"></script> 
    <script src="app/services/sharingFactory.js"></script>
    <script src="app/services/comparisonFactory.js"></script>
    
    <script src="app/controllers/RunController.js"></script>
    <script src="app/controllers/EnvironmentController.js"></script>
    <script src="app/controllers/HomeController.js"></script>
    <script src="app/controllers/CompareController.js"></script>
    
    <script src="app/directives/sidebarMainDirective.js"></script>
    <script src="app/directives/sidebarRepeatDirective.js"></script>
    <script src="app/directives/comparisonTable.js"></script>
    <script src="app/directives/trCollapse.js"></script>
    

<!--    <script src="app/services/sharingFactory.js"></script> -->
    <script>
        $(document).ready(function() {
            
        })
    </script>
</body>
</html>