    <h1 class="text-center">Performance Reporting App ( beta version )</h1>
    <br />
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th ng-repeat="env in environments">{{env.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="testSuite in env.testSuites">
                    <td>{{ testCase.testCaseName }}</td>
                    <td>{{ testCase.testType }}</td>
                    <td>{{ testCase.result }}</td>
                    <td>{{ testCase.duration }}</td>
                </tr>
            </tbody>
        </table>

    <pre>{{ environments | json }}</pre>


<!--<div id="wrapper toggled">

         Sidebar 
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Recent Runs
                    </a>
                </li>
                <li><label class="tree-toggle nav-header">Run 1</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Child 1 of Run 1</a></li>
                        <li><a href="#">Child 2 of Run 1</a></li>
                    </ul>
                </li>
                <li><label class="tree-toggle nav-header">Run 2</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Child 1 of Run 2</a></li>
                        <li><a href="#">Child 2 of Run 2</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>-->



