<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="nav nav-list">
        <li class="sidebar-brand">
                    <h4>
                        Recent Runs
                    </h4>
                    <hr />
        </li>
        <li>
            <label class="tree-toggle">Run 1</label>
            <ul class="tree">
                <li><a href="#">Child 1 of Run 1</a>
                </li>
                <li><a href="#">Child 2 of Run 1</a>
                </li>
            </ul>
        </li>
        <li>
            <label class="tree-toggle">Run 2</label>
            <ul class="tree">
                <li><a href="#">Child 1 of Run 2</a>
                </li>
                <li><a href="#">Child 2 of Run 2</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


<script>
    $('.tree-toggle').click(function () {
        $(this).parent().children('ul.tree').toggle(200);
    });

    $(function () {
        $('.tree-toggle').parent().children('ul.tree').toggle(200);
    })
</script>